<%= stylesheet_link_tag    'style_tab', media: 'all', 'data-turbolinks-track' => true %>
<div class="container_fluid">
  <div class="header">
    <div style="display: inline-block;">
      <img onclick="clickLogo()" src="images/shuttl_logo.png" class="logo" />
    </div>
  </div>
  <div class="screenWrapper fullheight">
  </div>
</div>
<script>
  var paymentFlow=2;
    var routeId=<%= @routeId %>;
 var pickUp=[];
  <% @pickUp.each do |pick| %>
    var value={};
  value["location_id"]="<%=pick.location_id %>";
  value["name"]="<%=pick.name %>";
  pickUp.push(value);
 <% end %>
  var drop=[];
  <% @drop.each do |drop| %>
  var value={};
  value["location_id"]="<%=drop.location_id %>";
  value["name"]="<%=drop.name %>";
  drop.push(value);
  <% end %>

    var allRoutes=[];

    <% @tabRoute.each do |route| %>
     var value={};
     value["name"]="<%= route.name %>";
     value["id"]="<%= route.routeid %>";
     allRoutes.push(value);
     <% end %>




</script>

<%= javascript_include_tag 'script_tab', 'data-turbolinks-track' => true %>
<div class="loader_wrapper">
  <div class="loader_inner"></div>
</div>