<%= stylesheet_link_tag    'style_tab_new', media: 'all', 'data-turbolinks-track' => true %>
<div class="container_fluid">

  <div class="intro row">Hi <%= @promoter.name  %></div>

  <div class="row">

    <div class="performance col-xs-6">Boardings <%= @promoter.getBoardingsToday %></div>


    <div class="peformance col-xs-6">

      Suggestions <%= @promoter.getSuggestionsToday %>

    </div>

  </div>

  <div class="row">
    Select Home Location:
  </div>
  <div class="row">

    <% @pickUp.each do |pick| %>
     <button class="col-xs-4 pick" data="<%= pick.id %>" onclick="onHomeLocationSelected(<%= pick.id %>);"></button>
    <% end %>
  </div>

  <div class="row">
    Select Office Location:
  </div>
  <div class="row">

    <% @pickUp.each do |pick| %>
        <button class="col-xs-4 pick" data="<%= pick.id %>" onclick="onOfficeLocationSelected(<%= pick.id %>);"></button>
    <% end %>

  </div>

  <div class="row">
    Select Current Mode Of Commute
  </div>
  <div class="row">

    <% @commute.each do |comm| %>
        <button class="col-xs-4 commute" data="<%= comm.id %>" onclick="onCommuteSelected(<%= pick.id %>);"></button>

    <% end %>
  </div>

  <div class="row">

    <button class="button submitButton" onclick="submitData();">Submit</button>
  </div>
</div>